/*
Theme Name: Makoa Personal
Theme URI: https://romanfink.com/makoa-personal
Author: Roman Fink
Author URI: https://romanfink.com/
Description: A clean and modern personal portfolio theme built for freelancers, designers, developers, and creative professionals. Features a minimal hero section with photo, about me block with statistics, services showcase, blog feed, and contact section. Perfect for building a professional online presence with a focus on simplicity and user experience.
Requires at least: 6.9
Tested up to: 6.9
Requires PHP: 7.4
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: makoa
Text Domain: makoa-personal
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, threaded-comments, translation-ready, wide-blocks, blog, portfolio
*/

